.header{
    background-color: rgb(37, 37, 37);
    font-size: 25px;
    padding: 10px;
    display: flex;
    justify-content: right;
}
.header a{
    color: white;
    text-decoration: none;
    margin: 10px;
}
table, tr, td{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
    margin: 10px;
}
tr,td{
    text-align: left;
}
tr {
    background-color:rgb(179, 253, 143) ;
}

tr:nth-child(even) {
    background-color: rgb(250, 204, 134);
}